.main{
	padding: 1% 15%;
	border: 1px solid black;
	margin: 0px auto; 
	text-align: left;
}

.main2
{
	padding: 1% 15%;
	 border: 1px solid black;
}

.main3{
	padding: 1% 15%;
	 border: 1px solid black;
}

input[type="submit"] {
    display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}

input[type="reset"] {
    display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}

input[type=text]:focus {
    border: 3px solid #555;
	
}

input[type=email]:focus {
    border: 3px solid #555;
}
input[type=date]:focus {
    border: 3px solid #555;
}


input[type="number"] {
  width: 150px;
    margin-bottom: 10px; 
}

input[type=number]:focus {
    border: 3px solid #555; 
}

.center-block {
  margin-left: 300px; 
}

.email {
  margin-left: 298px; 
}

.date {
  margin-left: 310px; 
}

.phone {
  margin-left: 283px; 
}

.number {
  margin-left: 286px; 
}

.dateb {
  margin-left: 240px; 
}

.cook {
  margin-left: 233px; 
}

.naim {
	margin: auto;
}


